@{
    ViewData["Title"] = "SlotArea List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable

@*<h3>Filter</h3>
<form method="post" asp-area="PMS_SlotArea" asp-controller="PMS_SlotArea" asp-action="Filter">
    <div class="row">
        <div class="col-md-3">
            <input type="search" name="CountryName" class="form-control" placeholder="Country Name">
        </div>
        <div class="col-md-3">
            <input type="search" name="SlotAreaName" class="form-control" placeholder="SlotArea Name">
        </div>
        <div class="col-md-3">
            <input type="search" name="SlotAreaCode" class="form-control" placeholder="SlotArea Code">
        </div>
        <div class="col-md-3 d-inline" id="sample_1_filter">
            <button type="submit" class="btn btn-primary">Search</button>
            <a class="btn btn-primary" asp-area="PMS_SlotArea" asp-controller="PMS_SlotArea" asp-action="GoHome">Clear Filter</a>
        </div>
    </div>
</form>

<hr />
<br />*@

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-7">
                    <h3>SlotArea List</h3>
                </div>
                <div id="sample_1_filter" class="dataTables_filter col-md-2">
                    <input type="text" placeholder="Search SlotArea" id="sample_1" />
                </div>
                <div class="col-lg-3">
                    <form method="post" asp-area="PMS_SlotArea" asp-controller="PMS_SlotArea" asp-action="Add">
                        <button class="btn btn-primary" style="margin-left: 50px">Add SlotArea</button>
                    </form>
                </div>
            </div>
            <hr />
            <div class="table-responsive">
                <table class="table table-striped" id="sample_1">
                    <thead>
                        <tr>
                            <th>Vehicle Category</th>
                            <th>Building Name</th>
                            <th>Floor</th>
                            <th>SlotArea Name</th>
                            <th>SlotArea Code</th>
                            <th>SlotArea Size</th>
                            <th>Status</th>
                            <th>Creation Date</th>
                            <th>Modification Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    <tbody>
                    <tbody id="sample_2">
                        @foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["VehicleCategory"]</td>
                                <td>@dr["BuildingName"]</td>
                                <td>@dr["Floor"]</td>
                                <td>@dr["SlotAreaName"]</td>
                                <td>@dr["SlotAreaCode"]</td>
                                <td>@dr["SlotAreaSize"]</td>
                                <td>@dr["Status"]</td>
                                <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                                <td>@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-MM-yyyy")</td>
                                <td>
                                    <form method="post" asp-area="PMS_SlotArea" asp-controller="PMS_SlotArea" asp-action="Add" asp-route-SlotAreaID="@Convert.ToInt32(dr["SlotAreaID"])">
                                        <input type="hidden" name="SlotAreaID" value="@Convert.ToInt32(dr["SlotAreaID"]).ToString()" />
                                        <button type="submit" class="btn btn-success btn-sm" value="Edit">Edit<i class="bi bi-pencil-square"></i></button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post" asp-area="PMS_SlotArea" asp-controller="PMS_SlotArea" asp-action="Delete">
                                        <input type="hidden" name="SlotAreaID" value="@Convert.ToInt32(dr["SlotAreaID"]).ToString()">
                                        <button type="submit" class="btn btn-danger btn-sm" value="Delete" onclick="return fun1()">Delete<i class="bi bi-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function fun1() {
            if (confirm("Are You Sure Want To Delete")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}