@{
    ViewData["Title"] = "VehicleCategory List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable

@*<h3>Filter</h3>
<form method="post" asp-area="PMS_VehicleCategory" asp-controller="PMS_VehicleCategory" asp-action="Filter">
    <div class="row">
        <div class="col-md-4">
            <input type="search" name="CountryName" class="form-control" placeholder="VehicleCategory Name">
        </div>

        <div class="col-md-4 d-inline" id="sample_1_filter">
            <button type="submit" class="btn btn-primary">Search</button>
            <a class="btn btn-primary" asp-area="PMS_VehicleCategory" asp-controller="PMS_VehicleCategory" asp-action="Index">Clear Filter</a>
        </div>
    </div>
</form>*@

<div class="row">
    <div class="col-lg-8">
        <h3>VehicleCategory List</h3>
    </div>
    <div id="sample_1_filter" class="dataTables_filter col-md-2">
        <input type="text" placeholder="Search VehicleCategory" id="sample_1" />
    </div>
    <div class="col-lg-2">
        <form method="post" asp-area="PMS_VehicleCategory" asp-controller="PMS_VehicleCategory" asp-action="Add">
            <button class="btn btn-primary">Add VehicleCategory</button>
        </form>
    </div>
</div>
<hr />

<table class="table table-striped table-bordered table-header-fixed dataTable table-responsive table-sm" id="sample_1">
    <thead>
        <tr>
            <th>VehicleCategory ID</th>
            <th>VehicleCategory</th>
            <th>Creation Date</th>
            <th>Modification Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody id="sample_2">
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["VehicleCategoryID"]</td>
                <td>@dr["VehicleCategory"]</td>
                <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-MM-yyyy")</td>
                <td>
                    <form method="post" asp-area="PMS_VehicleCategory" asp-controller="PMS_VehicleCategory" asp-action="Add" asp-route-VehicleCategoryID="@Convert.ToInt32(dr["VehicleCategoryID"])">
                        <input type="hidden" name="VehicleCategoryID" value="@Convert.ToInt32(dr["VehicleCategoryID"]).ToString()" />
                        <button type="submit" class="btn btn-success btn-sm">Edit<i class="bi bi-pencil-square"></i></button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-area="PMS_VehicleCategory" asp-controller="PMS_VehicleCategory" asp-action="Delete">
                        <input type="hidden" name="VehicleCategoryID" value="@Convert.ToInt32(dr["VehicleCategoryID"]).ToString()">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return fun1()">Delete<i class="bi bi-trash"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function fun1() {
            if (confirm("Are You Sure Want To Delete")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}